POSTGRES_DB=agent_platform
POSTGRES_USER=htam_agent
POSTGRES_PASSWORD=htam_agent
POSTGRES_PORT=52432

REDIS_PASSWORD=redis
REDIS_DATABASE=7
REDIS_PORT=6379

BACKEND_PORT=3060
FRONTEND_PORT=3001

# pgvector | elasticsearch | weaviate | qdrant | milvus
VECTOR_STORE_TYPE=pgvector

ELASTICSEARCH_URIS=http://agent-elasticsearch:9200
ELASTICSEARCH_INDEX_PREFIX=agent_rag
ELASTICSEARCH_PORT=9200

WEAVIATE_HOST=agent-weaviate
WEAVIATE_PORT=8080
WEAVIATE_SCHEME=http
WEAVIATE_CLASS_PREFIX=AgentRag

DATA_PATH=./data
LOG_PATH=./logs
TZ=Asia/Shanghai
